*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root.light{
    --nav-background-color:#0284c7;
    --nav-text-color:#f8fafc;
    --icon-light:invert(92%) sepia(6%) saturate(63%) hue-rotate(175deg) brightness(106%) contrast(99%);
}
body{
    font-family:  'Gloock', serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Slabo 27px', serif;;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
   
}

.icon-light {
    filter:var(--icon-light)
}

nav{
    
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
    
    padding-left: clamp(0.7rem, 1.2vw , 2.6rem);
   display: grid;
   grid-template-columns: max-content max-content;
   grid-template-rows: 3fr repeat(5,1fr) 3fr repeat(3,1fr);
   align-items: center;
   gap:1vw 1vw;

   
}

.dashboard{

    
    font-size: min(24px , 1vw + 12px);
   
}


nav .text{
    align-self: start;
    font-weight: bolder;
}
img[class^=icon]{
    width:min(22px , 1vw + 11px);
    height: auto;
    justify-self: center;
    align-self: start;
}
img[class^=icon]:first-of-type{
    width:min(40px , 1vw + 25px);
    height: auto;
    align-self: center;
}


